{% extends 'layout.html'%}
{% block content %}
  <input type="text" id="searchBox" placeholder="Search all cars here">
  <div class="row" id="cars_results">
      {% for car in cars %}
            <div class="col-lg-4">
                  <div class="card">
                      <img class="card-img-top img-thumbnail" src="{{ url_for('static', filename='car_photos/' + car.photo) }}">
                      <div class="card-body">
                        <h5 class="card-title">Type: {{ car.name }}<h6 class="card-text">Price: {{ car.price }}
                        <span class="dot"></span>Mileage: {{ car.mileage }}</h6></h5>
                        <a href="#" class="btn btn-primary">Learn More</a>
                      </div>
                  </div>
            </div>
      {% endfor %}
  </div>
{% endblock %}
